.edit-modal-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0;
  
  &-necessary{
    margin-bottom: 5px;

    &::after {
      margin-left: 4px;
      color: var(--semi-color-danger);
      font-weight: 600;
      content: "*";
    }
  }
}