@use "@/variables" as *;

@mixin about-card {
  width: 100%;
  padding: 1rem 1.5rem;
}

.about-container {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  .about-content {
    width: 100%;
    max-width: $max-width;
    display: flex;
    flex-direction: row;
    gap: 1%;
    padding: 1rem;
    box-sizing: border-box;
    .announcement-card {
      @include about-card();
      min-height: 100%;
      width: 60%;
      box-sizing: border-box;
    }
    .right-area {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      .information-card {
        @include about-card();
        padding: 1rem;
        width: 100%;
        box-sizing: border-box
      }
      .time-card {
        @include about-card();
        padding: 1rem;
      }
    }
  }
}
