@use "@/variables" as *;

.list-container {
  width: 100%;
  border-bottom: 1px solid $divider-color;
  height: fit-content;

  .list-item {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem 0.4rem 0.8rem;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: all 0.2s $cubic-bezier;
    span {
      font-size: 16px;
    }
    &:hover {
      background-color: #dedede;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $divider-color;
    }
  }
}
