@use "@/variables" as *;

.skeleton {
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
}

.skeleton-header {
    height: 2rem !important;
    width: 50%;
    @include skeleton-loading();
    margin-bottom: 3rem;
}

.skeleton-h2 {
    height: 1.6rem !important;
    width: 30%;
    @include skeleton-loading();
    margin-bottom: 2.5rem;
}

.skeleton-paragraph {
    width: 100%;
    height: 1.2rem !important;
    @include skeleton-loading();
    margin-bottom: 0.8rem;

    &:nth-child(even) {
        width: 70% !important;
        margin-bottom: 2rem !important;
    }
}

.skeleton-more {
    width: 100%;
    height: 5rem !important;
    @include skeleton-loading();
    margin-bottom: 2rem;
    border-radius: 5px;
}