@use "@/variables" as *;

.library-container {
  background-color: $background-color;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  flex-grow: 1;
  .library-content {
    width: 100%;
    max-width: $max-width;
    box-sizing: border-box;
    padding: 1rem;
    .questions-table-container {
      position: relative;
      box-sizing: border-box;
      background-color: $white-color;
      height: fit-content;
      width: 100% !important;
      border-radius: 0.4rem;
    }
  }
}
