@use "@/variables" as *;

@mixin animation($name, $time, $count) {
  animation-name: $name;
  animation-duration: $time;
  animation-timing-function: $cubic-bezier;
  animation-fill-mode: forwards;
  animation-iteration-count: $count;
}

// @property --blue-position {
//   syntax: "<percentage>";
//   inherits: false;
//   initial-value: 35%;
// }

// @property --yellow-position {
//   syntax: "<percentage>";
//   inherits: false;
//   initial-value: 65%;
// }

// @property --orange-position {
//   syntax: "<percentage>";
//   inherits: false;
//   initial-value: 25%;
// }
// @property --green-position {
//   syntax: "<percentage>";
//   inherits: false;
//   initial-value: 100%;
// }
.login-background {
  background-blend-mode: screen;
  position: relative;
  height: 100vh;
  width: 100vw;
  @include flex-center();
  align-items: flex-start;
  background-color: $background-color;
  // background: radial-gradient(
  //     circle at var(--blue-position) 30%,
  //     #20afff,
  //     transparent
  //   ),
  //   radial-gradient(circle at var(--yellow-position) 35%, #ffce20, transparent),
  //   radial-gradient(circle at var(--orange-position) 85%, #ff8b20, transparent),
  //   radial-gradient(circle at 65% var(--green-position), #20ffd7, transparent);
  // @include animation(background-animation, 5s, infinite);
  background-color: $background-color;
  .login-card-container {
    padding: 2rem;
    margin-top: 12vh;
    gap: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @include animation(login-card-show, 1s, 1);
    color: $login-desciption;
  }
}

@keyframes login-card-show {
  from {
    opacity: 0.8;
    scale: 0.95;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

// @keyframes background-animation {
//   50% {
//     --blue-position: 45%;
//     --yellow-position: 55%;
//     --orange-position: 35%;
//     --green-position: 120%;
//   }
// }
