@use "../../variables" as *;
.login-background {
  background: radial-gradient(circle at 30% 30%, #20afff, transparent),
    radial-gradient(circle at 65% 35%, #ffce20, transparent),
    radial-gradient(circle at 25% 85%, #ff8b20, transparent),
    radial-gradient(circle at 65% 100%, #20ffd7, transparent);
  background-blend-mode: screen;  position: relative;
  height: 100vh;
  width: 100vw;
  @include flex-center();
}
