@use "@/variables" as *;

.evaluation-record-container {
  height: 90%;
  width: 100%;
  padding: 2rem;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .evaluation-record-item {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    border-bottom: 2px solid silver;
    // width: fit-content;
    margin-left: 0.5rem;

    .submit-time {
      letter-spacing: 3px;
      font-weight: 300;
      padding-bottom: 2px;
    }

    .submit-description {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      gap: 12px;
      width: 100%;
      // overflow: auto;
      white-space: nowrap;
    }

    // justify-content: space-between;
    // padding: 10px 10px;
    // box-sizing: border-box;
    // border-bottom: 1px solid $divider-color;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 820px) {
  .evaluation-record-container {
    padding: 1rem;

    .evaluation-record-item {
      width: 100%; // 让项目宽度适应容器宽度
      margin-left: 0; // 去除左边距以利用全部可用宽度

      .submit-time {
        letter-spacing: 1px;
        font-weight: 300;
        padding-bottom: 2px;
        white-space: nowrap;
      }

      .submit-description {
        font-size: 1rem; // 减小字体大小以适应较小的屏幕
        gap: 8px; // 减少图标和文本之间的间距
      }
    }
  }
}