@use "@/variables" as *;

.evaluation-record-container {
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: scroll;

  .evaluation-record-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $divider-color;
  }
}