@use "@/variables" as *;

.select-page {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .select-content {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: $background-color;
    align-items: center;
    justify-content: center;
    display: flex;
    .select-boxes {
      height: 100%;
      display: grid;
      box-sizing: border-box;
      max-width: $max-width;
      grid-template-columns: repeat(2, 48%);
      grid-auto-rows: auto;
      padding: 1rem 1.5rem;
      grid-gap: 1.5rem 4%;
      .select-item {
        box-sizing: border-box;
        background-color: $white-color;
        display: flex;
        flex-direction: column;
        width: unset;
        height: 100%;
        padding-bottom: 1rem !important;
        .btn-box {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          margin-top: 1rem;
        }

        .item-title {
          display: flex;
          flex-direction: column;
          color: $shadow-color;
          width: fit-content;

          .competition-title {
            width: fit-content;
            font-size: 18px !important;
            color: $black-color;
            font-weight: bold;
            border-bottom: 1.5px solid $divider-color;
            display: inline-block;
            padding-bottom: 0.1px;
            box-sizing: content-box;
          }
        }
      }
    }
  }

  .navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 3;
    background-color: rgba($white-color, 0.9);
  }
}
