.header-content {
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
  // background-color: var(--semi-color-bg-1);
  // border-bottom: 1px solid var(--semi-color-border);

  .sast-logo-wrapper {
    display: flex;
    justify-content: left;
    padding-left: 16px;
  }

  .sast-logo {
    max-height: 44px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .title-time{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .username-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
  }

  .logout-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
  }
}
