@use "@/variables" as *;

p {
  font-size: 1rem;
}

.h-title {
  position: relative;
  padding-bottom: 0.5rem;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 1px;
    transform: scale(1, 0.5);
    background-color: opacify($color: #474747, $amount: 0.1);
  }
}

.mykatex {
  height: unset !important;
  // padding: 0.1rem 0;
  font: 1rem KaTeX_Main, Times New Roman, serif;
}

.header-link {
  color: $black-color;
  font-weight: bold;
}

.block-quote {
  margin: 0;
  padding: 1px 10px;
  border-left: 5px solid $shadow-color;
  border-radius: $radius-3;
  background-color: rgb($shadow-color, 0.05);
  font-style: italic;
  font-weight: bolder;

  p {
    font-size: 13px;
    line-height: 0.7;
  }
}

.a-link {
  color: $primary-color;
  transition: all 300ms $cubic-bezier;
}

.table {
  border-spacing: 0px !important;
  border-radius: 3px !important;
  border: solid 2px rgb($shadow-color, 0.05);

  th,
  td {
    padding: 6px 20px;
    text-align: left;
    background-color: rgb($shadow-color, 0.05);
    color: $black-color;
  }

  th {
    color: #00668c;
  }
}

.list {
  padding-left: 28px;
  font-size: 0.9rem;
  // font-size: 1.2rem;
}

code {
  border-radius: 3px;
  background-color: rgb($shadow-color, 0.05) !important;

  span {
    font-family: Consolas, monospace !important;
  }
}

code {
  width: 95%;
}

hr {
  width: 95%;
  margin: 0;
  transform: skewY(0.5);
}


// img {
//   max-width: 80%;
//   margin: 1rem 2rem;
//   box-sizing: border-box;
//   height: auto;
// }