@use "@/variables" as *;

.table-container {
  position: relative;
  // height: 100%;
  box-sizing: border-box;
  margin: 20px;
  padding: 2.5rem;
  background-color: $white-color;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  height: fit-content;

  .question-table {
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
}

.header-div {
  display: flex;
  justify-content: center;
}

.span-font {
  font-weight: bolder;
  font-size: 18px;
}
