//absolute center
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//flex center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@mixin skeleton-loading {
  background-size: 400% 100%;
  background-repeat: no-repeat;
  animation: skeleton-loading 1.4s ease infinite;
  background-image: linear-gradient(
    90deg,
    #f0f2f5 25%,
    #e6e8eb 37%,
    #f0f2f5 63%
  );
}

$cubic-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);

$divider-color: #d9d9d9;
$shadow-color: #808080;
$background-color: #f0f0f0;
$login-desciption: #213547;

//color variables
$primary-color: #0078d4;
$pale-white-color: #f6f6f7;
$border-white-color: #f1f1f1;
$black-color: #1c1f23;
$gray-color: #808080;
$background-shadow-color: rgb(var(--black-color-rgb), 0.6);
$title-bg-color: #f3f3f3;

$default-color: #1c1f23;
$violet-color: #b286fd;
$white-color: #f9f9f9;
$danger-color: #e54d2e;
$warning-color: #ffdc00;
$success-color: #46a758;
$info-color: #0090ff;
$secondary-color: #555b61;

$radius-3: 3px;

$max-width: 1480px;
