//absolute center
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//flex center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$cubic-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
