@use "../../variable.scss" as *;
.contests-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.contest-list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagination {
  margin-top: 20px;
}
.contest-create-button {
  margin-top: 20px;
  margin-left: 20px;
}
