.header-content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .run-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
}

.run-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  span {
    white-space: nowrap;
  }
}
