@use "@/variables" as *;

.problem-content-container {
  width: 100%;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 10px - 55px);

  .markdown-show-container {
    width: 50%;
    height: 100%;
    box-sizing: border-box;

    img {
      max-width: 80%;
      height: auto;
      padding: 1rem 2rem;
    }

    // overflow: hidden;
    // resize: horizontal;
    // overflow: scroll;
    &.full-screen {
      display: none;
    }


    div {
      height: 100%;
    }

    .markdown-content {
      height: 100%;
      overflow: scroll;
    }
  }

  .problem-show {
    width: 50%;
    padding-left: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;

    .codeEditor {
      width: 100%;
      height: 70%;
      overflow-y: scroll;
      position: relative;
      flex-grow: 1;
      box-sizing: border-box;

      .codeEditor-header {
        top: 0px;
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          font-weight: bold;
        }
      }
    }

    .code-status-information {
      width: 100%;
      height: 30%;
      box-sizing: border-box;

      &.full-screen {
        display: none;
      }
    }
  }
}