.container {
    margin: 1rem;
    border: 1px solid #F4CCCC;
    background-color: #FFF0F0;
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.errorTitle {
    color: #DD4B39;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.errorMessage {
    color: #DD4B39;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    font-size: 0.9rem;
}